{% block body %}

    <form action="app_dev.php/tag" method="post">
        <input type="text" name="tags" id="tags" />
        <button type="submit" value="Submit">Submit</button>
    </form>

{% endblock %}